<div class="flex h-formanunc w-full justify-between mt-10">                
    <div class="flex flex-col justify-center w-formanunc h-formanunc ">
        <h2 class="text-center font-bold text-4xl ">
            QUALIDADE PREMIUM
        </h2>
        <p class="text-center ">
            Utilizamos apenas materiais premium, escolhidos a dedo.
        </p>
        <div class="mx-auto mt-5">
            <a routerLink="/login" class="border-solid border-2 border-black px-3 py-3 text-center">Agende agora</a>
        </div>
    </div>
<div>
    <img src="/assets/tecidos.png" alt="Diversos tecidos">
</div>
</div>