<main class="w-full h-screen flex overflow-hidden">
  <app-sidebar-cliente></app-sidebar-cliente>

  <div class="w-full flex flex-col md:ml-44">
<app-header-config [hideSearchInput]="true"></app-header-config>


<app-sidebarra-mobile-cliente></app-sidebarra-mobile-cliente>

    <!-- Conteúdo rolável -->
    <div class="flex-1 overflow-hidden">
      <hr class="my-4 mx-4 md:mx-6 shadow" />

      <app-novo-agendamento></app-novo-agendamento>
    
      <form class="flex flex-col px-4 pb-10 text-sm font-medium">

       <div class="flex flex-col md:flex-row w-full gap-2 mb-3">
  <!-- Nome Completo -->
  <div class="flex flex-1 gap-2">
    <button type="button" disabled 
        class="flex items-center gap-2 border border-black px-3 py-2 rounded text-sm shrink-0 min-w-[120px]">
  <img src="assets/Icon.svg" alt="Ícone usuário" class="w-4 h-4">
  <span class="">Nome</span>
</button>
    <input type="text" [(ngModel)]="agendamento.nomeCompleto" name="nomeCompleto"
           class="w-full border border-black rounded px-3 py-2 placeholder:text-sm"/>
  </div>

  <!-- E-mail -->
  <div class="flex flex-1 gap-2">
    <button type="button" disabled 
        class="flex items-center gap-2 border border-black px-3 py-2 rounded text-sm shrink-0 min-w-[95px]">
  <img src="assets/mail-open.svg" alt="Ícone e-mail" class="w-4 h-4">
  <span class="">E-mail</span>
</button>
    <input type="email" [(ngModel)]="agendamento.email" name="email"
           class="w-full border border-black rounded px-3 py-2 placeholder:text-sm"/>
  </div>
</div>
        <!-- Grupo Endereço -->
        <div class="flex flex-col w-full mb-3 gap-2">
  <div class="flex flex-col md:flex-row gap-2">
    <!-- Endereço -->
    <div class="flex flex-1 gap-2">
      <button type="button" disabled 
        class="flex items-center gap-2 border border-black px-3 py-2 rounded text-sm shrink-0 min-w-[90px]">
  <img src="assets/location-marker.svg" alt="Ícone mapa" class="w-4 h-4">
  <span class="">Endereço</span>
</button>
      <input type="text" [(ngModel)]="agendamento.endereco" name="endereco"
             class="w-full border border-black rounded px-3 py-2 placeholder:text-sm"/>
    </div>

    <!-- Grupo Número + CEP -->
    <div class="flex flex-1 gap-2">
      <!-- Número -->
      <div class="flex gap-2 flex-1 md:flex-none md:w-[140px]">
        <button type="button" disabled 
                class="flex items-center gap-2 border border-black px-3 py-2 rounded text-sm shrink-0 min-w-[85px]">
          <i class="fas fa-hashtag text-sm"></i>
          <span class="">Número</span>
        </button>
        <input type="text" [(ngModel)]="agendamento.numero" name="numero" placeholder=""
               class="w-full border border-black rounded px-3 py-2 text-sm"/>
      </div>

      <!-- CEP -->
      <div class="flex gap-2 flex-1 md:flex-none md:w-[160px]">
        <button type="button" disabled 
                class="flex items-center gap-2 border border-black px-3 py-2 rounded text-sm shrink-0 min-w-[75px]">
          <i class="fas fa-barcode text-sm"></i>
          <span class="">CEP</span>
        </button>
        <input type="text" [(ngModel)]="agendamento.cep" name="cep" placeholder=""
               class="w-full border border-black rounded px-3 py-2 text-sm"/>
      </div>
    </div>
  </div>
</div>

        <!-- Contato -->
        <div class="flex flex-col w-full mb-3 gap-2">
          <div class="flex gap-2">
            <button type="button" disabled 
        class="flex items-center gap-2 border border-black px-3 py-2 rounded text-sm shrink-0 min-w-[95px]">
  <img src="assets/Icontel.svg" alt="Ícone telefone" class="w-4 h-4">
  <span class="">Contato</span>
</button>
            <input type="text" [(ngModel)]="agendamento.contato" name="contato"
                   class="w-full border border-black rounded px-3 py-2 text-sm"/>
          </div>
        </div>

        <!-- Número do Pedido -->
        <div class="flex flex-col md:flex-row items-start md:items-center mb-3 gap-2">
          <button type="button"  disabled
        class="flex items-center gap-2 border border-black px-3 py-2 rounded text-sm shrink-0 min-w-[115px]">
  <img src="assets/Iconpedido.svg" alt="Ícone código" class="w-3 h-3">
  <span class="">Nº Pedido</span>
</button>
          <span class="text-xs font-semibold px-3 py-2 border border-gray-400 rounded bg-gray-100">
            {{ agendamento.numeroPedido }}
          </span>
        </div>

        <!-- Descrição do Pedido -->
        <div class="flex flex-col w-full mb-3 gap-2">
          <div class="flex gap-2">
            <button type="button" disabled 
            class="flex items-center gap-2 border border-black px-3 py-2 rounded text-sm shrink-0 min-w-[130px]">
      <img src="assets/view-list.svg" alt="Ícone descrição" class="w-4 h-4">
      <span class="">Descrição</span>
    </button>
            <input type="text" [(ngModel)]="agendamento.descricaoPedido" name="descricaoPedido"
                   class="w-full border border-black rounded px-3 py-2 text-sm"/>
          </div>
        </div>

        <!-- Profissional  -->
        <div class="flex flex-col w-full mb-3 gap-2">
          <div class="flex gap-2">
            <button type="button" disabled 
            class="flex items-center gap-2 border border-black px-3 py-2 rounded text-sm shrink-0 min-w-[120px]">
      <img src="assets/user-group.svg" alt="Ícone profissional" class="w-4 h-4">
      <span class="">Profissional</span>
    </button>
            <select [(ngModel)]="agendamento.profissional" name="profissional"
                    class="w-full border border-black rounded px-3 py-2 text-sm">
              <option value="">Selecione</option>
              <option value="Lurdes M. V.">Lurdes M. V.</option>
              <option value="João P.">João P.</option>
            </select>
          </div>
        </div>

        <!-- Data e Hora -->
        <div class="flex flex-col sm:flex-row w-full gap-2 mb-3">
          <div class="flex gap-2 flex-1">
            <button type="button" disabled 
        class="flex items-center gap-2 border border-black px-3 py-2 rounded text-sm shrink-0 min-w-[85px]">
  <img src="assets/calendar.svg" alt="Ícone calendário" class="w-4 h-4">
  <span class="">Data</span>
</button>
            <input type="date" [(ngModel)]="agendamento.data" name="data"
                   class="w-full border border-black rounded px-3 py-2 text-sm"/>
          </div>

          <div class="flex gap-2 flex-1">
            <button type="button" disabled 
        class="flex items-center gap-2 border border-black px-3 py-2 rounded text-sm shrink-0 min-w-[95px]">
  <img src="assets/clock.svg" alt="Ícone relógio" class="w-4 h-4">
  <span class="">Horário</span>
</button>
            <input type="time" [(ngModel)]="agendamento.horario" name="horario"
                   class="w-full border border-black rounded px-3 py-2 text-sm"/>
          </div>
        </div>

        <!-- Botões de Ação -->
        <div class="flex sm:flex-row items-center mt-3 justify-center gap-3 px-0">
          <button type="button" (click)="cancelar()"
                  class="border w-28 hover:bg-gray-200 hover:transition border-black px-6 py-2 rounded flex items-center gap-2 justify-center pl-3 text-sm sm:text-base">
            <i class="fas fa-times-circle"></i>
            <img src="assets/Icon-cancelar.svg" alt="">
            <span class="opacity-60">Cancelar</span>
          </button>
          <button type="button" (click)="salvar()"
                  class="bg-black w-28 text-white px-6 py-2 rounded flex items-center gap-2 justify-center pl-3 text-sm sm:text-base">
            <i class="fas fa-save"></i>
            <img src="assets/check-circle.svg" alt="">
            <span>Salvar</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</main>