<app-header-log>
</app-header-log>

<div class="min-h-screen flex">
  <div class="w-1/2 hidden md:block">
    <img src="assets/order-woman.png" alt="Modelo" class="object-cover w-full h-full" />
  </div>

  <div class="w-full md:w-1/2 flex flex-col items-center justify-center bg-white px-6 md:px-20">
    <a routerLink="/" class="mb-12 w-32"><img src="/assets/logo12.png" alt=""></a>

    <h2 class="text-2xl font-semibold mb-6 text-center text-gray-800">
      Consulte o seu<br />Pedido aqui!
    </h2>

    <form (ngSubmit)="consultOrder()" class="w-full max-w-md space-y-4">
      <div>
        <label for="order" class="block text-sm text-gray-600 mb-1">Insira o número:</label>
        <input
          type="text"
          id="order"
          name="order"
          [(ngModel)]="orderNumber"
          placeholder="Digite seu número"
          class="w-full border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-gray-400"
          required
        />
        <a href="#" class="text-sm text-blue-600 hover:underline mt-1 inline-block">Esqueceu o número?</a>
      </div>

      <button
        type="submit"
        class="w-full bg-[#733d39] hover:bg-[#5d2e2a] text-white py-2 rounded-md transition duration-200"
      >
        Consultar
      </button>
    </form>
  </div>
</div>
