<div class="mt-7">
    <h2 class="text-center font-bold text-4xl ">EXCLUSIVIDADE</h2>
    <div class="grid grid-cols-3 mx-auto justify-center mt-7">
        <div>
            <a routerLink="/">
                <img src="/assets/vestidoAzul.png" alt="Mulher de vestido azul" class="mx-auto">
                <h3 class="text-center uppercase text-zinc-600">Roupas para momentos especiais</h3>
            </a>
        </div>
        <div>
            <a routerLink="/">
                <img src="/assets/vestidoRosa.png" alt="Mulher com vestido rosa" class="mx-auto">
                <h3 class="text-center uppercase text-zinc-600">Diversos formatos e justos ao corpo</h3>
            </a>
        </div>
        <div>
            <a routerLink="/">
                <img src="/assets/ternoCarrossel.png" alt="Homem de terno" class="mx-auto">
                <h3 class="text-center uppercase text-zinc-600">Confortável e caimento perfeito</h3>
            </a>
        </div>
    </div>
</div>,