/* Remova a media query do main e use classe direta */
.active {
    background-color: rgb(248 250 252) !important;
    color: black !important;
  }
  
  .titulo-usuario {
    color: #5363BD;
  }
  @media (max-width: 639px) {

    
    #buscaLocal {
      min-width: 160px; /* Garante largura mínima */
    }
  }