<aside class="w-36 h-screen bg-slate-950 fixed left-0 top-0">
    <div class="flex flex-col h-full">
        <!-- Logo com margem ajustada -->
        <img
            class="mx-auto mt-6 mb-8"
            src="assets/logo 2.png"
            alt="Logo da Loja"
        />

        <!-- Container dos links com margem superior -->
        <div class="flex flex-col gap-1 px-2">  <!-- Adicionei gap e padding horizontal -->
            <a
                class="text-white py-2 px-3 rounded hover:text-black hover:bg-slate-50 focus:bg-slate-50 focus:text-black transition-colors"
                routerLink="adm/pedidos"
                >Agendamentos</a
            >
            <a
                class="text-white py-2 px-3 rounded hover:text-black hover:bg-slate-50 focus:bg-slate-50 focus:text-black transition-colors"
                routerLink="/pedidos"
                >Pedidos</a
            >
            <a
                class="text-white py-2 px-3 rounded hover:text-black hover:bg-slate-50 focus:bg-slate-50 focus:text-black transition-colors"
                routerLink="/"
                >Configurações</a
            >
        </div>
    </div>
</aside>