<!-- Botão para abrir menu lateral (visível apenas no mobile) -->
<button
  class="md:hidden  top-4 left-4 z-50 bg-slate-950 text-white p-2 rounded"
  onclick="document.getElementById('sidebar').classList.toggle('-translate-x-full')"
>
  ☰
</button>

<aside
  id="sidebar"
  class="w-36 h-screen bg-slate-950  left-0 top-0 transform transition-transform duration-300 ease-in-out -translate-x-full md:translate-x-0 z-40"
>
  <div class="flex flex-col h-full">
    <img class="mx-auto mt-6 mb-8" src="assets/logo 2.png" alt="Logo da Loja" />

    <div class="flex flex-col gap-1 px-2">
      <a
        class="text-white py-2 px-3 rounded hover:text-black hover:bg-slate-50 focus:bg-slate-50 focus:text-black transition-colors"
        routerLink="adm/pedidos"
        >Agendamentos</a
      >
      <a
        class="text-white py-2 px-3 rounded hover:text-black hover:bg-slate-50 focus:bg-slate-50 focus:text-black transition-colors"
        routerLink="/pedidos"
        >Pedidos</a
      >
      <a
        class="text-white py-2 px-3 rounded hover:text-black hover:bg-slate-50 focus:bg-slate-50 focus:text-black transition-colors"
        routerLink="/"
        >Configurações</a
      >
    </div>
  </div>
</aside>
