<div class="grid grid-cols-3 mt-7 justify-center h-96 bg-zinc-400 mx-4 gap-2 rounded-lg shadow-lg">
    <div class="my-auto">
        <img src="/assets/SewingMachine.png" alt="" class="mx-auto">
        <h3 class="text-center mt-2 text-xl">Qualidade</h3>
        <p class="font-extralight text-center mt-2 text-xs">Trabalhamos com materiais premium e acabamentos refinados, garantindo sofisticação e durabilidade.</p>
    </div>
    <div class="my-auto">
        <img src="/assets/Tailor.png" alt="" class="mx-auto">
        <h3 class="text-center mt-2 text-xl">Costumização</h3>
        <p class="font-extralight text-center mt-2 text-xs">Criamos peças sob medida, adaptadas ao seu estilo e necessidades, para uma roupa única e exclusiva.</p>
    </div>
    <div class="my-auto">
        <img src="assets/Sewing.png" alt="" class="mx-auto">
        <h3 class="text-center mt-2 text-xl">Rapidez</h3>
        <p class="font-extralight text-center mt-2 text-xs">Entregamos peças de alta qualidade em prazos curtos, sem abrir mão da perfeição.</p>
    </div>
</div>