<div class="h-screen w-screen flex bg-white">
  <div class="w-full md:w-1/2 mt-56 flex flex-col px-6 md:px-16 py-10">
      <h2 class="text-center text-[2.5rem] font-semibold text-gray-900 mb-6">
        Redefinição de senha
      </h2>
      <ng-container *ngIf="!showConfirmStep; else confirmForm">


      <div class="flex-grow flex flex-col items-center justify-start">
        <p class="text-sm text-gray-600 max-w-sm text-center">
          Digite o seu e-mail no campo abaixo e lhe enviaremos uma nova senha
        </p>

        <form (ngSubmit)="resetPassword()" class="mt-12 space-y-4 w-full max-w-sm flex flex-col items-center">
          <input
            type="email"
            [(ngModel)]="email"
            name="email"
            required
            placeholder="Seu e-mail"
            class="w-full border border-gray-300 rounded-md px-4 py-2 focus:outline-none text-center"
          />

          <button
            type="submit"
            class="border border-blue-600 text-blue-600 px-6 py-2 rounded-full font-medium hover:bg-blue-600 hover:text-white transition duration-200 mx-auto"
          >
            Redefinir senha
          </button>
        </form>
      </div>
    </ng-container>

    <ng-template #confirmForm>
      <div class="flex flex-col justify-center items-center w-full">
        <p class="text-sm text-gray-800 text-center mb-8 flex items-center gap-2">
          <span class="text-green-600 text-xl">✅</span>
          Um email foi enviado para <strong> ************** </strong> para finalizar o cadastro
        </p>

        <form (ngSubmit)="submitNewPassword()" class="space-y-4 w-full max-w-md">
          <input
            type="text"
            [(ngModel)]="code"
            name="code"
            placeholder="Código"
            required
            class="w-full border border-black rounded-md px-4 py-2 text-center"
          />

          <input
            type="password"
            [(ngModel)]="newPassword"
            name="newPassword"
            placeholder="Nova senha"
            required
            class="w-full border border-black rounded-md px-4 py-2 text-center"
          />

          <input
            type="password"
            [(ngModel)]="confirmPassword"
            name="confirmPassword"
            placeholder="Repita a nova senha"
            required
            class="w-full border border-black rounded-md px-4 py-2 text-center"
          />

          <button
            type="submit"
            class="mt-2 border border-blue-600 text-blue-600 px-6 py-2 rounded-full font-medium hover:bg-blue-600 hover:text-white transition mx-auto block"
          >
            Confirmar nova senha
          </button>
        </form>
      </div>
    </ng-template>
  </div>

  <div class="hidden md:block w-1/2 h-full">
    <img
      src="/assets/fundo.png"
      alt="Imagem decorativa"
      class="w-full h-full object-cover rounded-l-[100px]"
    />
  </div>
</div>
