<header class="flex bg-hd  justify-around items-center h-10 opacity-50">
<div class="w-1/3 justify-center" style="padding: 20px;"></div>
    <h3 class="text-xl w-1/3 mx-auto text-center">
        Faça orçamento conosco
    </h3>
    <nav class=" flex justify-end w-1/3">
        <a routerLink="/login"  routerLinkActive="active-link" class="mx-2 hover:text-indigo-500">Login/Registrar</a>
        <a routerLink="/adm/pedidos" class="mx-2 hover:text-indigo-500">Consultar Pedido</a>
    </nav>
</header>