<div class="responsive mx-4 md:ml-32 mt-8 md:mt-24 w-full max-w-[400px] flex flex-col">
  <h3 class="text-left font-semibold text-3xl md:text-4xl pb-4">Comece Agora</h3>
  <p class="font-normal text-base">Insira suas informações para se cadastrar</p>

  <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()" class="w-full" novalidate>


      <div class="flex flex-col mt-4">
        <label for="cliente.name">Usuario</label>
        <input id="cliente.name" type="text" formControlName="username" placeholder="Usuario" class="rounded-xl w-full p-2 border-2" />
        <small *ngIf="cadastroForm.get('username')?.invalid && cadastroForm.get('username')?.touched" class="text-red-600">Nome é obrigatório</small>
      </div>

    <!-- Email -->
    <div class="flex flex-col mt-4">
      <label for="email">Email</label>
      <input id="email" type="email" formControlName="email" placeholder="name@example.com" class="rounded-xl w-full p-2 border-2" />
      <small *ngIf="cadastroForm.get('email')?.invalid && cadastroForm.get('email')?.touched" class="text-red-600">Email inválido</small>
    </div>

    <!-- Senha -->
    <div class="flex flex-col mt-4">
      <label for="senha">Senha</label>
      <input id="senha" type="password" formControlName="senha" placeholder="Digite sua senha" class="rounded-xl w-full p-2 border-2" />
      <small *ngIf="cadastroForm.get('senha')?.invalid && cadastroForm.get('senha')?.touched" class="text-red-600">Senha é obrigatória</small>
    </div>




    <!-- Termos -->
    <div class="flex items-start gap-2 mt-4 mb-4">
      <input type="checkbox" required id="agree" />
      <label for="agree" class="text-sm">
        Li e eu concordo com os
        <a class="text-blue-700 hover:underline" href="#">termos e condições</a>
      </label>
    </div>

    <button type="submit" class="bg-btn text-white rounded-xl p-2 w-full mt-4">Registrar</button>
  </form>
</div>
