<div class="w-full overflow-x-auto mt-32 ml-2 pr-4">
  <table class="w-full bg-white border border-gray-200 shadow-md rounded-lg">
    <thead>
      <tr class="bg-gray-100">
        <th class="py-3 px-6 text-left whitespace-nowrap">Hora</th>
        <th class="py-3 px-6 text-left whitespace-nowrap">Nome</th>
        <th class="py-3 px-6 text-left whitespace-nowrap">N° Pedido</th>
        <th class="py-3 px-6 text-left whitespace-nowrap">Profissional</th>
        <th class="py-3 px-6 text-left whitespace-nowrap">Endereço</th>
        <th class="py-3 px-6 text-left whitespace-nowrap">Status</th>
        <th class="py-3 px-6 text-left whitespace-nowrap">Contato</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pedido of pedidos" class="border-b">
        <td class="py-3 px-6">{{ pedido.hora }}</td>
        <td class="py-3 px-6">{{ pedido.nome }}</td>
        <td class="py-3 px-6">{{ pedido.numeroPedido }}</td>
        <td class="py-3 px-6">{{ pedido.profissional }}</td>
        <td class="py-3 px-6">{{ pedido.endereco }}</td>
        <td
          class="py-3 px-6"
          [ngClass]="{
            'text-green-500': pedido.status === 'Concluído',
            'text-yellow-500': pedido.status === 'Em andamento',
            'text-red-500': pedido.status === 'Cancelado',
            'text-blue-500': pedido.status === 'Pendente'
          }"
        >
          {{ pedido.status }}
        </td>
        <td class="py-3 px-6">{{ pedido.contato }}</td>
      </tr>
    </tbody>
  </table>
</div>
