<div class="mt-7">
    <div class="rounded-2xl relative h-[300px] sm:h-[400px] md:h-card w-full bg-no-repeat bg-center bg-cover bg-[url('/assets/manequim.png')] mx-auto">
        <section class="absolute bottom-4 sm:bottom-8 md:bottom-14 right-2 sm:right-3 md:right-5">
            <div class="flex justify-center flex-wrap">
                <p class="font-bold text-lg sm:text-xl text-center pb-4 sm:pb-6 md:pb-8 pr-2 sm:pr-3 md:pr-5 tracking-widest text-white">L A</p> 
                <p class="font-bold text-lg sm:text-xl text-center pb-4 sm:pb-6 md:pb-8 tracking-widest text-white">L U R I A N</p>
            </div>
            <button type="button" class="text-gray-900 bg-white border border-gray-300 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-100 rounded-lg text-sm sm:text-base md:text-sm px-4 sm:px-5 md:px-6 py-2 sm:py-2.5 md:py-5 w-40 sm:w-48 md:w-56 h-12 sm:h-14 md:h-16 transition font-einstein font-semibold justify-center">
  <a routerLink="/login" class=" block w-full h-full text-center">SOB MEDIDA PARA VOCÊ</a>
            </button>

        </section>
    </div>
</div>
