<main class="w-full h-screen flex overflow-hidden">
  <app-sidebar></app-sidebar>

  <div class="w-full flex flex-col md:ml-44">
    <app-header-config [hideSearchInput]="true"></app-header-config>
    <app-sidebarra-mobile></app-sidebarra-mobile>

    <div class="flex-1 overflow-y-auto">
      <hr class="my-4 mx-4 md:mx-6 shadow" />

      <div class="container w-full mt-7 mb-10 ml-12">
        <p class="ml-6 font-sans font-semibold text-3xl tracking-tight">Pedidos</p>

        <!-- Lista de Pedidos com *ngFor -->
        <div *ngFor="let pedido of pedidos" class="border p-4 mt-4 rounded shadow w-[90%] ml-6">
          <p><strong>ID:</strong> {{ pedido.id }}</p>
          <p><strong>Descrição:</strong> {{ pedido.descricao }}</p>
          <p><strong>Hora:</strong> {{ pedido.horaminuto }}</p>
          <p><strong>Status:</strong> {{ pedido.status }}</p>
        </div>
      </div>

    </div>
  </div>
</main>
