<header class="flex flex-wrap bg-hd items-center h-auto px-4 py-2 justify-between">
    <div class="hidden lg:block lg:w-1/3"></div>

    <h3 class="text-base xl:text-lg text-black text-center font-teste w-full lg:w-1/3 mb-2 lg:mb-0">
        FAÇA UM ORÇAMENTO CONOSCO
    </h3>

    <nav class="flex flex-col min-[335px]:flex-row items-center justify-center w-full lg:w-1/3 gap-2 sm:gap-3 flex-wrap mt-2 lg:mt-0 lg:justify-end xl:justify-center">
        <!-- Grupo 1 - Timer + Login -->
        <div class="flex items-center gap-2">
            <img *ngIf="!username" class="w-4 min-[335px]:w-5 h-4 min-[335px]:h-5" src="/assets/timer-check.svg" alt="Timer" />
            <img *ngIf="username" class="w-4 min-[335px]:w-5 h-4 min-[335px]:h-5" src="/assets/user-circle.svg" alt="User" />
        
            <a *ngIf="!username" routerLink="/login" routerLinkActive="active-link"
               class="hover:font-semibold text-sm xl:text-base">
                Entrar / Registrar
            </a>
            <p routerLink="adm/new-schedule" *ngIf="username"
               class="hover:font-semibold text-sm xl:text-base cursor-pointer">
                Olá, {{username}}
            </p>

            <p *ngIf="username"
   class="hover:font-semibold text-sm xl:text-base cursor-pointer ml-10"
   (click)="logout()">
  Logout
</p>

        </div>

    </nav>
</header>
