<div class="flex flex-col justify-center m-auto w-full md:w-formanunc h-auto md:h-formanunc mt-7 px-4 sm:px-6 md:px-0">
    <h2 class="text-center font-bold text-2xl sm:text-3xl md:text-4xl">
        ATENDIMENTO PERSONALIZADO
    </h2>
    <p class="text-center text-sm sm:text-base md:text-lg mt-2 sm:mt-3 md:mt-4 max-w-[90%] md:max-w-none mx-auto">
        Cada peça é o resultado de um diálogo entre você e nossa equipe.
    </p>
    <div class="mx-auto mt-3 sm:mt-4 md:mt-5">
        <button type="button" class="text-gray-900 hover:border-black bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-xs sm:text-sm px-4 sm:px-5 py-2 sm:py-2.5 me-2 mb-2 w-32 sm:w-36 md:w-40 h-10 sm:h-11 md:h-12 transition">
            <a routerLink="/login" class="block w-full h-full text-center">AGENDE AGORA</a>
          </button>
          
    </div>
</div>
