<div class="responsive mx-4 md:ml-32 mt-8 md:mt-24 w-full max-w-[400px] flex flex-col">
  <h3 class="text-left font-semibold text-3xl md:text-4xl pb-5">
    Bem-vindo de volta!
  </h3>
  <p class="font-normal text-sm md:text-base">
    Insira suas credenciais para acessar sua conta.
  </p>
  
  <form action="#" method="post" class="w-full">
    <div class="flex flex-col mt-4 md:mt-7">
      <label for="email" class="mb-1">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        required
        placeholder="name@example.com"
        class="rounded-xl w-full p-2 border-2"
      />
    </div>

    <div class="flex flex-col mt-4 md:mt-7">
      <div class="flex justify-between items-center mb-1">
        <label for="password">Senha</label>
        <a class="text-sm text-blue-700 hover:underline" href="">Esqueceu a senha?</a>
      </div>
      <input
        type="password"
        id="password"
        name="password"
        required
        placeholder="Digite sua senha"
        class="rounded-xl w-full p-2 border-2"
      />
    </div>

    <div class="mt-4 flex items-center gap-2">
      <input type="checkbox" id="agree" />
      <label for="agree">Lembrar-me</label>
    </div>

    <div class="mt-6">
      <button
        type="submit"
        class="bg-btn text-white rounded-xl p-2 w-full"
      >
        Entrar
      </button>
    </div>

    <div class="mt-6 text-center">
      <p class="text-sm md:text-base">
        Não possui uma conta?
        <a
          routerLink="/cadastro"
          class="text-blue-700 hover:font-semibold"
        >
          Faça cadastro
        </a>
      </p>
    </div>
  </form>
</div>
