<footer class="mt-7">
    <div class="grid grid-cols-4 gap-3">
        <div class="mx-3">
            <h2 class="mb-3 v font-teste font-bold">EMPRESA</h2>
            <ul class="">
                <li><a class="font-teste hover:font-bold" routerLink="/login">Razão</a></li>
                <li><a class="font-teste hover:font-bold" routerLink="/">Grupo Lurian</a></li>
                <li><a class="font-teste hover:font-bold" routerLink="/">Sustentabilidade</a></li>
                <li><a class="font-teste hover:font-bold" routerLink="/">Trabalhe conosco</a></li>
            </ul>
        </div>
        <div class="mx-3">
            <h2 class="mb-3 text-lg font-teste font-bold">TERMOS LEGAIS E CONDIÇÕES</h2>
            <ul class="">
                <li><a class="font-teste hover:font-bold" routerLink="/">Legal</a></li>
                <li><a class="font-teste hover:font-bold" routerLink="/">Política de privacidade</a></li>
                <li><a class="font-teste hover:font-bold" routerLink="/">Política de cookie</a></li>
                <li><a class="font-teste hover:font-bold" routerLink="/">Sitemap</a></li>
            </ul>
        </div>
        <div class="mx-56 col-span-2">
            <h2 class="mb-4 text-lg font-teste font-bold">ESTAMOS EM:</h2>
            <div class="flex">
                <a class="mx-2" routerLink="/">
                  <img 
                    src="/assets/akar-icons_facebook-fill.svg" 
                    alt="" 
                    class="w-6 h-6 transform scale-90 hover:scale-125 transition-transform duration-300"
                  >
                </a>
                <a class="mx-2" routerLink="/">
                  <img 
                    src="/assets/entypo-social_instagram-with-circle.svg" 
                    alt="" 
                    class="w-6 h-6 transform scale-90 hover:scale-125 transition-transform duration-300"
                  >
                </a>
                <a class="mx-2" routerLink="/">
                  <img 
                    src="/assets/ant-design_twitter-circle-filled.svg" 
                    alt="" 
                    class="w-6 h-6 transform scale-90 hover:scale-125 transition-transform duration-300"
                  >
                </a>
              </div>
              
        </div>
    </div>
</footer>