<footer class="mt-7">
    <div class="grid grid-cols-4 gap-3">
        <div class="mx-3">
            <h2 class="mb-7 text-xl font-form">EMPRESA</h2>
            <ul class="">
                <li><a class="font-teste hover:text-indigo-400" routerLink="/login">Sobre</a></li>
                <li><a class="font-teste hover:text-indigo-400" routerLink="/">Grupo Lurian</a></li>
                <li><a class="font-teste hover:text-indigo-400" routerLink="/">Sustentabilidade</a></li>
                <li><a class="font-teste hover:text-indigo-400" routerLink="/">Trabalhe conosco</a></li>
            </ul>
        </div>
        <div class="mx-3">
            <h2 class="mb-7 text-xl font-form">TERMOS LEGAIS E CONDIÇÕES</h2>
            <ul class="">
                <li><a class="font-teste hover:text-indigo-400" routerLink="/">Legal</a></li>
                <li><a class="font-teste hover:text-indigo-400" routerLink="/">Política de privacidade</a></li>
                <li><a class="font-teste hover:text-indigo-400" routerLink="/">Política de cookie</a></li>
                <li><a class="font-teste hover:text-indigo-400" routerLink="/">Sitemap</a></li>
            </ul>
        </div>
        <div class="mx-3 col-span-2">
            <h2 class="mb-7 text-xl font-form">ESTAMOS TAMBÉM EM:</h2>
            <div class="flex">
                <a class="mx-2" routerLink="/"><img src="/assets/icons8-facebook.svg" alt="" class="w-6 h-6"></a>
                <a class="mx-2" routerLink="/"><img src="/assets/icons8-instagram.svg" alt="" class="w-6 h-6"></a>
                <a class="mx-2" routerLink="/"><img src="/assets/icons8-x.svg" alt="" class="w-6 h-6"></a>
            </div>
        </div>
    </div>
</footer>