<div class="ml-20 w-full mt-20">
    <h3 class="ml-0 text-left font-semibold text-4xl ">Comece agora!</h3>
    <form action="#" method="post">
        <div class="flex flex-col mt-20">
            <label for="name">Nome </label>
            <input type="text" id="name" name="name" required placeholder="Seu nome.." class="rounded-xl w-96 p-2 border-2">
        </div>
        <div class="flex flex-col mt-7">
            <label for="email">Email </label>
            <input type="email" id="email" name="email" required placeholder="name@example.com" class="rounded-xl w-96 p-2 border-2">
        </div>

        <div class="flex flex-col mt-7 placeholder-text">
            <label for="password">Senha </label>
            <input type="password" id="password" name="password" required placeholder="Digite sua senha" class="rounded-xl w-96 p-2  border-2">
        </div>
        <div class="mt-6 ml-6 mb-4">
            <input type="checkbox" required id="agree">
            <label for="agree" required>  Li e eu concordo com os <a class = "hover:underline hover:text-cyan-900"href="#">termos e condições</a></label>
        </div>
        <div>
            <button type="checkbox" class="bg-btn text-white rounded-xl p-2 w-80 mt-3 ml-8">Registrar</button>
        </div>
        <div class="mt-7">
            
            <p class="text-xl mt-8 ml-14">Já possui uma conta? <a routerLink="/login" class="text-cyan-900 ">Faça login</a></p>
        </div>
    </form>
</div>