<app-header-log></app-header-log>
<main class="w-full">
    <section class="w-full flex flex-col justify-center" >

        <div class=" w-full flex justify-center">
            
            
        </div>
        <div style="height: 95.8vh;" >

        <div class="container pl-10 pr-10 pt-5 bg-[url('/assets/fundo.png')] bg-no-repeat h-full   bg-right max-h-full max-w-full">
            <img src="/assets/logo12.png" alt="Logo da marca" class="mx-auto mt-3">
            <app-form-login class="w-full p-10  justify-left flex"></app-form-login>
        
        </div>
       
    </div>

</section>
</main>