<div class="mt-7">
    <div class="rounded-2xl relative h-card w-full bg-no-repeat bg-center bg-cover bg-[url('/assets/manequim.png')] mx-auto">
        <section class="absolute bottom-14 right-5">
            <div class= "flex justify-center">
           <p class="font-bold text-xl text-center pb-8 pr-5 tracking-widest text-white">L A</p> 
           <p class="font-bold text-xl text-center pb-8 tracking-widest text-white"> L U R I A N</p>
           </div>
            <button type="button" class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 rounded-lg text-lg px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700 w-56 h-16"><a routerLink="/login">Sob medida para você</a></button>
        </section>
    </div>
</div>